.dropdown{
	position: relative;

	.dropdown-menu{
	display: none;
	box-shadow: 0 0 8px #777;
	position: absolute;
	left: 0;
	top: 102%;
	z-index: 1000;
	background-color: white;
	min-width: 200px;
	text-align: left;
	box-shadow: 0 0 1px rgba(57, 70, 78, .15), 0 20px 55px -8px rgba(57, 70, 78, .25);

		li{
			&.seperator{
			border-top: 1px solid #ccc;
			margin: 5px 0;
			}
			&>a{
				margin: 5px 0;
				display: block;
				padding: 5px 0 5px 15px;
				&:hover{
					background-color: whitesmoke;
				}
			}
		}
}

&.is-aligned-right .dropdown-menu{
	right: 0;
	left: auto;
}

&.is-open .dropdown-menu{
	display: block;
}

}

button.navbar-item{
	background-color: white;
	border: none;
}

.nav{
	height: 4.5em;
}

.nav-item img{
	max-height: 2.8em;
}
